<p>Congrats <%= @user.username %>,</p>
<p>You are one of the pioneer snapbyers!
</p>

<p> Snapby is brand new, you can help grow the <%=SNAPBY_SHORT_NAME%> Community by sharing the app with your friends and snapbying great stuff happening around you. 
</p>

<p> Thanks and have fun out there!</p>

<p> - The Snapby team </p>

<p> More info: <%=WEBSITE_HOME%> </p>
<p> Contact us at <%=CONTACT_EMAIL%>. </p>