/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* Constant
-------------------------------------*/
/* # GENERAL
-------------------------------------*/
@font-face {
  font-family: 'Ubuntu-Title-webfont';
  src: url(/assets/Ubuntu-Title-webfont.eot);
  src: url(/assets/Ubuntu-Title-webfont.eot) format("embedded-opentype"), url(/assets/Ubuntu-Title-webfont.svg) format("svg"), url(/assets/Ubuntu-Title-webfont.woff) format("woff"), url(/assets/Ubuntu-Title-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

body {
  color: #a5a5a5;
  background-color: #fff;
  font: normal 100% 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-smooth: always; }

header, footer, article, section, nav, menu, hgroup {
  display: block; }

a {
  text-decoration: none;
  color: #e54b00;
  outline: none; }

a:hover {
  color: #b73a00; }

::selection,
::-moz-selection {
  background: #222;
  color: #FFF; }

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative; }

.spacer-fix, .spacer-variable {
  clear: both;
  height: 85px; }

/* CLEAR */
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* # SPLASH
-------------------------------------*/
#splash {
  background-image: url(/assets/bg.jpg);
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 120px 0 0 0;
  overflow: hidden;
  color: #FFF; }

#splash.splash-inner-page {
  padding: 40px 0; }

#splash .pattern {
  background-image: url(/assets/mosaic.png);
  background-repeat: repeat;
  background-position: top left;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }

#splash .inner-shadow {
  background: url(/assets/inner-shadow.png) 0 -45px repeat-x;
  position: absolute;
  z-index: 30;
  bottom: 0;
  width: 100%;
  height: 60px; }

/* # DEVICEs & PRODUCT INFO
-------------------------------------*/
#product-container {
  position: relative;
  z-index: 20; }

#product-container #product-info {
  font-family: 'Ubuntu-Title-webfont';
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 200px;
  width: 450px; }

#product-container #product-info h1 {
  font-size: 100px;
  margin: 0 0 -10px 0;
  line-height: 1.25em;
  text-align: center; }

#product-container #product-info p {
  margin: 0 0 40px 0;
  font-size: 35px;
  text-align: center; }

#product-container #product-info a {
  display: inline-block;
  padding: 2.5px;
  margin: auto;
  vertical-align: middle;
  text-align: center; }

#product-container #device {
  background: #555;
  width: 550px;
  position: relative;
  background-size: 100% !important; }

#product-container #device #screen {
  width: 400px;
  height: 400px;
  margin: 0 auto; }

#product-container #device #screen img {
  width: 100%; }

#product-container #device-2nd {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% !important;
  left: 0;
  bottom: 0;
  display: none; }

#product-container #device-2nd #screen-2nd {
  margin: 0 auto; }

#product-container #device-2nd #screen-2nd img {
  width: 100%; }

#product-container.ipad-portrait #product-info {
  width: 400px; }

#product-container.ipad-portrait.white #device {
  background: url(../images/devices/ipad-white-portrait@2x.png) no-repeat center top; }

#product-container.ipad-portrait.white #device-2nd {
  background: url(../images/devices/iphone-white-portrait@2x.png); }

#product-container.ipad-portrait #device {
  background: url(../images/devices/ipad-portrait@2x.png) no-repeat center top;
  padding: 54px 0 0 0;
  width: 500px;
  margin-left: 50px; }

#product-container.ipad-portrait #device #screen {
  width: 404px;
  height: 505px; }

#product-container.ipad-portrait #device-2nd {
  background: url(../images/devices/iphone-portrait@2x.png);
  width: 200px;
  padding: 60px 0 0 0;
  display: block; }

#product-container.ipad-portrait #device-2nd #screen-2nd {
  height: 240px;
  width: 172px;
  margin-left: 15px; }

#product-container.ipad-landscape #product-info {
  width: 100%;
  position: relative;
  text-align: center; }

#product-container.ipad-landscape.white #device {
  background: url(../images/devices/ipad-white-landscape@2x.png) no-repeat center top; }

#product-container.ipad-landscape.white #device-2nd {
  background: url(../images/devices/iphone-white-landscape@2x.png) no-repeat; }

#product-container.ipad-landscape #device {
  background: url(../images/devices/ipad-landscape@2x.png) no-repeat center top;
  padding: 52px 0 0 0;
  width: 700px;
  margin: 0 auto; }

#product-container.ipad-landscape #device #screen {
  width: 572px;
  height: 380px;
  margin-left: 59px; }

#product-container.ipad-landscape #device-2nd {
  background: url(../images/devices/iphone-landscape@2x.png) no-repeat;
  width: 370px;
  padding: 11px 0 0 0;
  left: auto;
  right: 50px;
  display: block; }

#product-container.ipad-landscape #device-2nd #screen-2nd {
  height: 120px;
  width: 266px;
  margin-left: 53px; }

#product-container.android-tablet-portrait #product-info {
  width: 400px; }

#product-container.android-tablet-portrait #device {
  background: url(../images/devices/android-tablet-portrait@2x.png) no-repeat center top;
  padding: 90px 0 0 0;
  width: 500px;
  margin-left: 50px; }

#product-container.android-tablet-portrait #device #screen {
  width: 400px;
  height: 550px; }

#product-container.android-tablet-portrait #device-2nd {
  background: url("../images/android-phone-portrait@2x.png");
  width: 200px;
  padding: 45px 0 0 0;
  display: block; }

#product-container.android-tablet-portrait #device-2nd #screen-2nd {
  height: 240px;
  width: 177px; }

#product-container.android-tablet-landscape #product-info {
  width: 100%;
  position: relative;
  text-align: center; }

#product-container.android-tablet-landscape #device {
  background: url(../images/devices/android-tablet-landscape@2x.png) no-repeat center top;
  padding: 42px 0 0 0;
  width: 700px;
  margin: 0 auto; }

#product-container.android-tablet-landscape #device #screen {
  width: 550px;
  height: 350px;
  margin-left: 80px; }

#product-container.android-tablet-landscape #device-2nd {
  background: url(/assets/android-phone-landscape@2x.png) no-repeat;
  width: 370px;
  padding: 10px 0 0 0;
  left: auto;
  right: 80px;
  display: block; }

#product-container.android-tablet-landscape #device-2nd #screen-2nd {
  height: 120px;
  width: 280px;
  margin-left: 44px; }

#product-container.iphone-portrait #device {
  background: url(../images/devices/iphone-portrait@2x.png) no-repeat center top;
  padding: 126px 0 0 0;
  width: 420px;
  margin-left: 50px; }

#product-container.iphone-portrait #device #screen {
  width: 362px;
  height: 450px;
  margin-left: 31px; }

#product-container.iphone-portrait.white #device {
  background: url(../images/devices/iphone-white-portrait@2x.png) no-repeat center top; }

#product-container.iphone-landscape #product-info {
  width: 100%;
  position: relative;
  text-align: center; }

#product-container.iphone-landscape.white #device {
  background: url(../images/devices/iphone-white-landscape@2x.png) no-repeat center top; }

#product-container.iphone-landscape #device {
  background: url(../images/devices/iphone-landscape@2x.png) no-repeat center top;
  padding: 21px 0 0 0;
  width: 680px;
  margin: 0 auto; }

#product-container.iphone-landscape #device #screen {
  width: 490px;
  height: 255px;
  margin-left: 97px; }

#product-container.android-phone-portrait #device {
  background: url("/assets/android-phone-portrait@2x.png") no-repeat center top;
  padding: 85px 0 0 0;
  width: 380px;
  margin-left: 50px; }

#product-container.android-phone-portrait #device #screen {
  width: 338px;
  height: 450px; }

#product-container.android-phone-landscape #product-info {
  width: 100%;
  position: relative;
  text-align: center; }

#product-container.android-phone-landscape #device {
  background: url(/assets/android-phone-landscape@2x.png) no-repeat center top;
  padding: 18px 0 0 0;
  width: 640px;
  margin: 0 auto; }

#product-container.android-phone-landscape #device #screen {
  width: 490px;
  height: 250px; }

#product-container.macbook #product-info {
  width: 100%;
  position: relative;
  text-align: center; }

#product-container.macbook #device {
  background: url(../images/devices/macbook@2x.png) no-repeat center top;
  padding: 30px 0 0 0;
  width: 732px;
  margin-left: auto;
  margin-right: auto; }

#product-container.macbook #device #screen {
  width: 680px;
  height: 400px; }

/* Title
-------------------------------------*/
#title_blue {
  font-family: 'Ubuntu-Title-webfont';
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative; }

#title_blue .container {
  overflow: hidden; }

#title_blue .container h1 {
  font-size: 100px;
  margin: -15px 0 -15px 0;
  line-height: 1.25em;
  text-align: center;
  color: #7a9ed3; }

#title_blue .container h2 {
  font-size: 24px;
  text-align: center;
  color: #7a9ed3; }

#title_blue .container .logo img {
  display: block;
  max-width: 70px;
  height: auto;
  margin: auto; }

/* Footer
-------------------------------------*/
.footer {
  background: #FFF;
  color: gray;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 60px;
  z-index: 1000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1.5px solid #7a9ed3;
  border-bottom-style: none; }

.footer a, .footer p {
  display: table-cell;
  padding-right: 5px;
  vertical-align: middle; }

.footer img {
  padding-top: 5px; }

.footer .container {
  padding: 0;
  width: 100%;
  height: 100%; }

.footer .container #footer-left {
  display: table;
  height: 100%;
  margin-left: 30px;
  float: left;
  text-align: left; }

.footer .container #footer-left p {
  padding-right: 30px; }

.footer .container #footer-right {
  height: 100%;
  padding-right: 15px;
  display: table;
  float: right;
  text-align: right; }

.footer .container #footer-right .footer-link {
  height: 100%;
  padding-right: 30px;
  color: #7a9ed3;
  font-weight: 600; }

.footer .container #footer-phone-left {
  float: left;
  width: 49.5%;
  height: 100%;
  display: table;
  text-align: right;
  display: none; }

.footer .container #footer-phone-right {
  float: right;
  width: 49.5%;
  height: 100%;
  display: table;
  text-align: left;
  display: none; }

/* STANDARD-TEXT
-------------------------------------*/
#standard-text {
  position: relative; }

#standard-text .container {
  position: relative;
  -ms-overflow-style: none;
  overflow: hidden;
  max-width: 600px;
  padding: 10px;
  color: #000;
  border-top: 2px solid #7a9ed3; }

#standard-text .container h1 {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
  line-height: 200%;
  color: #7a9ed3; }

#standard-text .container h2 {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 150%;
  color: #7a9ed3; }

#standard-text .container h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px; }

#standard-text .container p {
  font-weight: 400;
  margin-bottom: 5px; }

#standard-text .container ul li {
  margin-left: 20px;
  font-weight: 400;
  margin-bottom: 5px; }

/* Display_shout
-------------------------------------*/
#display_shout {
  width: 90%;
  position: relative;
  top: 5%;
  left: 5%;
  height: auto;
  padding-bottom: 30px; }

#display_shout img {
  display: block;
  width: 100%;
  margin-top: 5px;
  height: auto; }

#display_shout h2 {
  position: absolute;
  margin: 5%;
  top: 5%%;
  text-align: center;
  width: 90%; }

#display_shout h2 span {
  border-radius: 10px;
  color: white;
  font-size: 40px;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 1.5;
  letter-spacing: -1px;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.3);
  padding: 2px; }

/* MESSAGE
-------------------------------------*/
#message {
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative; }

#message .container {
  position: relative;
  overflow: hidden;
  max-width: 600px;
  padding: 10px;
  color: #000; }

#message .container p {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px; }

/* # CONTENT
-------------------------------------*/
#content {
  background: #FFF;
  color: #666;
  /* BASE ELEMENTS STYLE */ }

#content .container {
  padding: 0;
  padding-bottom: 50px; }

#content .container #footer-home-left {
  padding-top: 30px;
  float: left;
  color: #a5a5a5; }

#content .container #footer-home-right {
  padding-top: 30px;
  float: right; }

#content .container #footer-home-right .footer-home-link {
  margin-left: 20px;
  font-weight: 600;
  color: #a5a5a5; }

#content .container .button {
  float: right;
  margin-right: 0px; }

#content p {
  margin: 0 0 20px 0; }

#content img {
  max-width: 100%;
  display: block; }
/*  #MOBILE (Portrait)
================================================== */

@media only screen and (max-width: 767px) {
  .spacer-variable { 
    height: 30px;}
  .container {
    width: 290px; }

  /* SPLASH */
  #splash {
    background-attachment: scroll; }
    #splash .pattern {
      background-attachment: scroll; }

  /* PRODUCT CONTAINER */
 #product-container #product-info {
    width: 100% !important;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
    bottom: 100px;}
  #product-container #device,
  #product-container #device-2nd {
    display: none !important; }
    #product-container #product-info h1 {
      font-size: 75px;}
    #product-container #product-info p {
      font-size: 27px;}

  /* Title */
  #title_blue {
    padding-top: 10px;}
      #title_blue .container h1 {
        font-size: 60px;}
      #title_blue .container h2 {
        font-size: 15px;}
      #title_blue .container .logo img{
        max-width: 50px;}
  #title_white {
    left: 0%;
    padding-bottom: 250px;}

  /* FOOTER */
  #footer-right, #footer-left {
    display: none !important;}
  #footer-phone-right, #footer-phone-left{
    display: inline-table !important;
  }
  .footer a, .footer p, #footer-right {
    padding-right: 0px;
  }

  /* HOME FOOTER */
  #footer-home-right {
    margin-right: 11px; }
  #footer-home-left {
    margin-left: 7px; }
    #footer-home-left p {
      text-align: center;
    }

  /* DISPLAY_SHOUT */
  #display_shout {
    padding-bottom: 10px;}
    #display_shout h2 span {
      font-size: 18px;
  }
}



/*  #TABLET (Portrait)
================================================== */
@media screen and (min-width: 768px) and (max-width: 1140px) {
  .container {
    width: 740px; }

  /* SPLASH */
  #product-container #device {
    margin: 0 auto !important;
    bottom: 0 !important; }
  #product-container #product-info {
    width: 100% !important;
    text-align: center;
    position: relative;
    bottom: auto;
    margin-bottom: 50px;
    padding: 0 0 40px 0; }


  /* FOOTER */
  .footer .container #footer-right .footer-link {
    padding-right: 9px;
  }
}



