/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* Constant
-------------------------------------*/
/* # GENERAL
-------------------------------------*/
@font-face {
  font-family: 'Ubuntu-Title-webfont';
  src: url(/assets/Ubuntu-Title-webfont.eot);
  src: url(/assets/Ubuntu-Title-webfont.eot) format("embedded-opentype"), url(/assets/Ubuntu-Title-webfont.svg) format("svg"), url(/assets/Ubuntu-Title-webfont.woff) format("woff"), url(/assets/Ubuntu-Title-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

body {
  height: 100%;
  color: #a5a5a5;
  background-color: #fff;
  font: normal 100% 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-smooth: always; }

header, footer, article, section, nav, menu, hgroup {
  display: block; }

a {
  text-decoration: none;
  color: #e54b00;
  outline: none; }

.container {
  width: 1000px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  position: relative; }

.spacer-fix, .spacer-variable {
  clear: both;
  height: 85px; }

/* CLEAR */
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* # SPLASH
-------------------------------------*/
#splash {
  background-image: url(/assets/bg.jpg);
  height: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 120px 0 0 0;
  overflow: hidden;
  color: #FFF; }

#splash .inner-shadow {
  background: url(/assets/inner-shadow.png) 0 -45px repeat-x;
  position: absolute;
  z-index: 30;
  bottom: 0;
  width: 100%;
  height: 60px; }

/* Name
-------------------------------------*/
#product-container {
  position: relative;
  z-index: 20; }

#product-container #device {
  background: url("/assets/android-phone-portrait@2x.png") no-repeat center top;
  width: 380px;
  position: relative;
  padding: 85px 0 0 0;
  margin-left: 80px;
  background-size: 100% !important; }

#product-container #device #screen {
  width: 338px;
  height: 450px;
  margin: 0 auto; }

#product-container #device #screen img {
  margin-top: -20px;
  width: 100%; }

/* Title
-------------------------------------*/
#title_blue {
  font-family: 'Ubuntu-Title-webfont';
  padding-top: 30px;
  position: relative; }

#title_blue .container {
  overflow: hidden; }

#title_blue .container h1 {
  font-size: 100px;
  margin: -15px 0 -15px 0;
  line-height: 1.25em;
  text-align: center;
  color: #7a9ed3; }

#title_blue .container h2 {
  font-size: 24px;
  text-align: center;
  color: #7a9ed3; }

#title_blue .container .logo img {
  display: block;
  max-width: 70px;
  height: auto;
  margin: auto; }

#title_white {
  position: relative;
  left: 15%; }

#title_white .container {
  padding-top: 10px;
  color: #FFFFFF;
  font-family: 'Ubuntu-Title-webfont';
  overflow: hidden; }

#title_white .container h1 {
  font-size: 100px;
  margin: -5px 0 -5px 0;
  line-height: 1.25em;
  text-align: center; }

#title_white .container h2 {
  font-size: 35px;
  text-align: center; }

#title_white .container .logo img {
  display: block;
  max-width: 100px;
  height: auto;
  margin: auto; }

/* Footer
-------------------------------------*/
.footer {
  background: #FFF;
  color: gray;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 60px;
  z-index: 1000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1.5px solid #7a9ed3;
  border-bottom-style: none; }

.footer a, .footer p {
  display: table-cell;
  padding-right: 5px;
  vertical-align: middle; }

.footer img {
  padding-top: 5px; }

.footer .container {
  padding: 0;
  width: 100%;
  height: 100%; }

.footer .container #footer-left {
  display: table;
  height: 100%;
  margin-left: 30px;
  float: left;
  text-align: left; }

.footer .container #footer-left p {
  padding-right: 30px; }

.footer .container #footer-right {
  height: 100%;
  padding-right: 15px;
  display: table;
  float: right;
  text-align: right; }

.footer .container #footer-right .footer-link {
  height: 100%;
  padding-right: 30px;
  color: #7a9ed3;
  font-weight: 600; }

.footer .container #footer-phone-left {
  float: left;
  width: 49.5%;
  height: 100%;
  display: table;
  text-align: right;
  display: none; }

.footer .container #footer-phone-right {
  float: right;
  width: 49.5%;
  height: 100%;
  display: table;
  text-align: left;
  display: none; }

/* STANDARD-TEXT
-------------------------------------*/
#standard-text {
  position: relative; }

#standard-text .container {
  position: relative;
  -ms-overflow-style: none;
  overflow: hidden;
  max-width: 600px;
  padding: 10px;
  color: #000;
  border-top: 2px solid #7a9ed3; }

#standard-text .container h1 {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
  line-height: 200%;
  color: #7a9ed3; }

#standard-text .container h2 {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 150%;
  color: #7a9ed3; }

#standard-text .container h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px; }

#standard-text .container p {
  font-weight: 400;
  margin-bottom: 5px; }

#standard-text .container ul li {
  margin-left: 20px;
  font-weight: 400;
  margin-bottom: 5px; }

/* Display_shout
-------------------------------------*/
#display_shout {
  width: 90%;
  position: relative;
  top: 5%;
  left: 5%;
  height: auto;
  padding-bottom: 30px; }

#display_shout img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto\9;
  /*ie8  */ }

#display_shout h2 {
  position: absolute;
  top: 5%%;
  text-align: center;
  width: 70%;
  margin-left: 15%; }

#display_shout h2 span {
  border-radius: 10px;
  color: white;
  font-size: 40px;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 1.5;
  letter-spacing: -1px;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.3);
  padding: 2px; }

/* MESSAGE
-------------------------------------*/
#message {
  padding-top: 20px;
  position: relative; }

#message .container {
  position: relative;
  overflow: hidden;
  max-width: 600px;
  padding: 10px;
  color: #000; }

#message .container p {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px; }
/*  #MOBILE (Portrait)
================================================== */

@media only screen and (max-width: 767px) {
  .spacer-variable { 
    height: 30px;}
  .container {
    width: 280px; }

  /* SPLASH */
  #splash {
    background-attachment: scroll; }
    #splash .pattern {
      background-attachment: scroll; }

  /* PRODUCT CONTAINER */
  #product-container #device{
    display: none !important; }

  /* Title */
  #title_blue {
    padding-top: 10px;}
      #title_blue .container h1 {
        font-size: 60px;}
      #title_blue .container h2 {
        font-size: 15px;}
      #title_blue .container .logo img{
        max-width: 50px;}

  /* FOOTER */
  #footer-right, #footer-left {
    display: none !important;}
  #footer-phone-right, #footer-phone-left{
    display: inline-table !important;
  }
  .footer a, .footer p, #footer-right {
    padding-right: 0px;
  }

  /* DISPLAY_SHOUT */
  #display_shout {
    padding-bottom: 10px;}
    #display_shout h2{
      width: 100%;
      margin-left: 0%;
    }
    #display_shout h2 span {
      font-size: 18px;
  }
}



/*  #TABLET (Portrait)
================================================== */
@media screen and (min-width: 768px) and (max-width: 1140px) {
  .container {
    width: 740px; }

  /* PRODUCT CONTAINER */
  #product-container #device {
    margin: 0 auto !important;
    bottom: 0 !important; }

  #title_white {
    left: 0%;}

  /* FOOTER */
  .footer .container #footer-right .footer-link {
    padding-right: 9px;
  }

  /* DISPLAY_SHOUT*/
    /* DISPLAY_SHOUT */
    #display_shout h2{
      width: 90%;
      margin-left: 5%;
    }
}



