/* Constant
-------------------------------------*/
/* # GENERAL
-------------------------------------*/
@font-face {
  font-family: 'Ubuntu-Title-webfont';
  src: url(/assets/Ubuntu-Title-webfont.eot);
  src: url(/assets/Ubuntu-Title-webfont.eot) format("embedded-opentype"), url(/assets/Ubuntu-Title-webfont.svg) format("svg"), url(/assets/Ubuntu-Title-webfont.woff) format("woff"), url(/assets/Ubuntu-Title-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

body {
  color: #a5a5a5;
  background-color: #fff;
  font: normal 100% 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-smooth: always; }

header, footer, article, section, nav, menu, hgroup {
  display: block; }

a {
  text-decoration: none;
  color: #e54b00;
  outline: none; }

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative; }

.spacer {
  clear: both;
  height: 100px; }

/* CLEAR */
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* # SPLASH
-------------------------------------*/
#splash {
  background-image: url(/assets/bg.jpg);
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 120px 0 0 0;
  overflow: hidden;
  color: #FFF; }

#splash.splash-inner-page {
  padding: 40px 0; }

#splash .pattern {
  background-image: url(/assets/mosaic.png);
  background-repeat: repeat;
  background-position: top left;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }

#splash .inner-shadow {
  background: url(/assets/inner-shadow.png) 0 -45px repeat-x;
  position: absolute;
  z-index: 30;
  bottom: 0;
  width: 100%;
  height: 60px; }

/* # DEVICEs & PRODUCT INFO
-------------------------------------*/
#product-container {
  position: relative;
  z-index: 20; }

#product-container #product-info {
  position: absolute;
  right: 0;
  bottom: 200px;
  width: 450px; }

#product-container #product-info h1 {
  font-family: 'Ubuntu-Title-webfont';
  font-size: 80px;
  margin: 0 0 -10px 0;
  line-height: 1.25em;
  text-align: center; }

#product-container #product-info p {
  margin: 0 0 15px 0;
  font-size: 35px;
  text-align: center; }

#product-container #product-info .container {
  width: 220px; }

#product-container #device {
  background: #555;
  width: 550px;
  position: relative;
  background-size: 100% !important; }

#product-container #device #screen {
  width: 400px;
  height: 400px;
  margin: 0 auto; }

#product-container #device #screen img {
  margin-top: -20px;
  width: 100%; }

#product-container #device-2nd {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% !important;
  left: 0;
  bottom: 0;
  display: none; }

#product-container #device-2nd #screen-2nd {
  margin: 0 auto; }

#product-container #device-2nd #screen-2nd img {
  width: 100%; }

#product-container.android-phone-portrait #device {
  background: url("/assets/android-phone-portrait@2x.png") no-repeat center top;
  padding: 85px 0 0 0;
  width: 380px;
  margin-left: 50px; }

#product-container.android-phone-portrait #device #screen {
  width: 338px;
  height: 450px; }

/* Footer
-------------------------------------*/
.footer {
  background: #FFF;
  color: gray;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 60px;
  z-index: 1000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1.5px solid #7a9ed3;
  border-bottom-style: none; }

.footer a, .footer p {
  display: table-cell;
  vertical-align: middle; }

.footer .container {
  width: 100%;
  height: 100%; }

.footer .container #footer-left {
  display: table;
  height: 100%;
  margin-left: 30px;
  margin-left: 50px;
  float: left;
  text-align: left; }

.footer .container #footer-right {
  height: 100%;
  display: table;
  float: right;
  margin-right: 30px;
  text-align: right; }

.footer .container #footer-right .footer-link {
  height: 100%;
  padding-left: 20px;
  color: #7a9ed3;
  font-weight: 600; }

.footer .container #footer-mid {
  text-align: center;
  height: 100%; }

.footer .container #footer-mid a {
  height: 60px;
  display: inline_block;
  padding-left: 50px;
  padding-right: 50px; }

/* BUTTON
-------------------------------------*/
.button-download, .button-download:visited {
  margin: 30px 10px 0px 10px;
  border: 2px solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  font-weight: normal;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  display: inline-block; }

.button-download:hover, .button-download:visited:hover {
  background-color: rgba(255, 255, 255, 0.3); }

.button-download span, .button-download:visited span {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 15px 40px 15px 40px;
  line-height: 1em;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: 600;
  background-repeat: no-repeat;
  background-position: 15px center; }

/* STANDARD-TEXT
-------------------------------------*/
#standard-text {
  position: relative;
  margin-top: 80px; }

#standard-text .container {
  overflow: scroll;
  max-width: 600px;
  padding: 10px;
  color: #000;
  border-top: 2px solid #7a9ed3; }

#standard-text .container h1 {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
  line-height: 200%;
  color: #7a9ed3; }

#standard-text .container h2 {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 150%;
  color: #7a9ed3; }

#standard-text .container h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px; }

#standard-text .container p {
  font-weight: 400;
  margin-bottom: 5px; }

#standard-text .container ul li {
  margin-left: 20px;
  font-weight: 400;
  margin-bottom: 5px; }

/* Display_shout
-------------------------------------*/
#display_shout {
  width: 90%;
  position: relative;
  top: 5%;
  left: 5%;
  height: auto; }

#display_shout img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  width: auto\9;
  /*ie8  */ }

#display_shout h2 {
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%; }

#display_shout h2 span {
  border-radius: 10px;
  color: white;
  font: bold 60px;
  letter-spacing: -1px;
  line-height: 2;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.3);
  padding: 20px; }
