/*  #MOBILE (Portrait)
================================================== */

@media only screen and (max-width: 767px) {
  .spacer-variable { 
    height: 30px;}
  .container {
    width: 280px; }

  /* SPLASH */
  #splash {
    padding: 50px 0 0 0;
    background-attachment: scroll; }
    #splash .pattern {
      background-attachment: scroll; }

  /* PRODUCT CONTAINER */
  #product-container #device{
    display: none !important; }

  /* Title */
  #title_blue {
    padding-top: 10px;}
      #title_blue .container h1 {
        font-size: 60px;}
      #title_blue .container h2 {
        font-size: 15px;}
      #title_blue .container .logo img{
        max-width: 50px;}
  #title_white {
    left: 0%;
    padding-bottom: 250px;}

  /* FOOTER */
  #footer-right, #footer-left {
    display: none !important;}
  #footer-phone-right, #footer-phone-left{
    display: inline-table !important;
  }
  .footer a, .footer p, #footer-right {
    padding-right: 0px;
  }

  /* DISPLAY_SHOUT */
  #display_shout {
    padding-bottom: 10px;}
    #display_shout h2{
      width: 100%;
      margin-left: 0%;
    }
    #display_shout h2 span {
      font-size: 18px;
  }

    /* CONTENT */
  #product-container #product-info {
    bottom: auto;
    margin-bottom: 50px;
    padding: 0 0 40px 0; }

    #product-container #product-info h1 {
      font-size: 55px;
      line-height: 1.5em; }


  #content h2 {
    font-size: 25px; }
  #content h3 {
    font-size: 22px; }
  #content h4 {
    font-size: 19px; }
  #content h5 {
    font-size: 16px; }
  #content h6 {
    font-size: 15px; }
  #content .section-title span em {
    width: 35px;
    height: 35px; }
}



/*  #TABLET (Portrait)
================================================== */
@media screen and (min-width: 768px) and (max-width: 1140px) {
  .container {
    width: 740px; }

  /* SPLASH */
  #product-container #device {
    margin: 0 auto !important;
    bottom: 0 !important; }
  #product-container #product-info {
    width: 100% !important;
    text-align: center;
    position: relative;
    bottom: auto;
    margin-bottom: 50px;
    padding: 0 0 40px 0; }

  #title_white {
    left: 0%;
    padding-bottom: 50px;}

  /* FOOTER */
  .footer .container #footer-right .footer-link {
    padding-right: 9px;
  }

  /* DISPLAY_SHOUT*/
    /* DISPLAY_SHOUT */
    #display_shout h2{
      width: 90%;
      margin-left: 5%;
    }
}



