/*  #MOBILE (Portrait)
================================================== */

@media only screen and (max-width: 767px) {
  .spacer-variable { 
    height: 30px;}
  .container {
    width: 280px; }

  /* SPLASH */
  #splash {
    background-attachment: scroll; }
    #splash .pattern {
      background-attachment: scroll; }

  /* PRODUCT CONTAINER */
  #product-container #device{
    display: none !important; }

  /* Title */
  #title_blue {
    padding-top: 10px;}
      #title_blue .container h1 {
        font-size: 60px;}
      #title_blue .container h2 {
        font-size: 15px;}
      #title_blue .container .logo img{
        max-width: 50px;}

  /* FOOTER */
  #footer-right, #footer-left {
    display: none !important;}
  #footer-phone-right, #footer-phone-left{
    display: inline-table !important;
  }
  .footer a, .footer p, #footer-right {
    padding-right: 0px;
  }

  /* DISPLAY_SHOUT */
  #display_shout {
    padding-bottom: 10px;}
    #display_shout h2{
      width: 100%;
      margin-left: 0%;
    }
    #display_shout h2 span {
      font-size: 18px;
  }
}



/*  #TABLET (Portrait)
================================================== */
@media screen and (min-width: 768px) and (max-width: 1140px) {
  .container {
    width: 740px; }

  /* PRODUCT CONTAINER */
  #product-container #device {
    margin: 0 auto !important;
    bottom: 0 !important; }

  #title_white {
    left: 0%;}

  /* FOOTER */
  .footer .container #footer-right .footer-link {
    padding-right: 9px;
  }

  /* DISPLAY_SHOUT*/
    /* DISPLAY_SHOUT */
    #display_shout h2{
      width: 90%;
      margin-left: 5%;
    }
}



