<section id="title">
  <div class="container">
    <div class="logo">
      <img src=> <%= image_tag("shout-logo-blue.jpg") %> <alt="logo_blue" />
    </div>
    <h1>shout</h1>
    <h2>here & now</h2>
  </div>
</section>  

