<% provide(:title, 'About') %>
<section id="category">
  <div class="container">
    <h2>About</h2>
    <p>Street Shout is a mobile app designed to help you discover and promote informal and spontaneous events around you.</p>
    <h1>Our Vision: Here & Now</h1>
    <p>Whether you're hanging out in a new part of town, sightseeing, or just killing time somewhere, there must be something unexpected and worth checking out happening a few blocks from you! This is what Street Shout is going to make you discover.</p>
    <p>Our goal is to enable you to grasp all the great things happening right here, right now.</p>
    <p>Though social networks have undeniably managed to bring us closer to each other, they haven’t always helped us step out of our comfort zone, our usual social practices. Looking for events online often leads us to find mainstream happenings, too far away in space and time.</p> 
    <p>Street Shout intends to bridge this gap and unveil the diversity and richness of the cities we live in by promoting a more spontaneous and creative way of sharing events.</p> 
  </div>
</section>