<% provide(:title, 'About') %>

<div class="spacer-variable">
</div>

<section id="standard-text">
  <div class="container">

    <h1>About</h1>
    <p><%=SNAPBY_TRADEMARK_NAME%> is a mobile app that lets you share images with the people around you. It's a fun local sharing tool!</p>
  </div>

 <div class="spacer-fix">
 </div> 
</section>

