<% provide(:title, 'Contact') %>

<div class="spacer">
</div>

<section id="standard-text">
  <div class="container">
    <h1>Contact</h1>
    <p>Please contact us at <%=CONTACT_EMAIL%>.</p>
  </div>

  <div class="spacer">
  </div>
</section>