<% provide(:title, 'Home') %>

<div class="spacer">
</div>

<section id="splash">

  <%= render 'shared/title' %>

  <div id="product-container" class="container android-phone-portrait">

    <div id="device">
      <div id="screen">
        <img src=> <%= image_tag("app-screen-2.jpg") %> <alt="screen" />
      </div>
    </div>

  </div>

  <div class="inner-shadow"></div>
</section>
