<% provide(:title, 'Home') %>

<section id="splash">

  <div id="product-container" class="container android-phone-portrait">
    <div id="product-info">
      <h1>snapby</h1>
      <p>Share fun pictures with the people around you.</p>

      <div id="store-links">
        <%= link_to image_tag("badge_apple_store.png", alt: "apple-store-link"), APPLE_STORE_LINK %>
        <%= link_to image_tag("badge_android_store.png", alt: "play-store-link"), ANDROID_STORE_LINK %>
      </div>
    </div>

    <div id="device">
      <div id="screen">
        <%= image_tag("app-screen-2.jpg") %>
      </div>
    </div>

  </div>

  <div class="inner-shadow"></div>
</section><!-- #splash -->

<section id="content">
  <div class="container">
    <div class="footer-home-right">
      <a href="/about" class="footer-home-link">About</a>
      <a href="/privacy" class="footer-home-link">Privacy</a>
      <a href="/terms" class="footer-home-link">Terms</a>
      <a href="/contact" class="footer-home-link">Contact</a>
    </div>

    <div class="footer-home-left">
      <p>Copyright © 2014 Snapby. All Rights Reserved</p>
    </div>
  </div>

  <div class="clear"></div>

  
</section><!-- #content -->