<% provide(:title, 'Shout') %>

<section id="splash">

  <div id="product-container" class="container android-phone-portrait">
    <div id="product-info">
      <h1>shout</h1>
      <p>here & now</p>

      <%= link_to image_tag("badge_apple_store.png", alt: "Android"), APPLE_STORE_LINK %>
      <%= link_to image_tag("badge_android_store.png", alt: "Android"), ANDROID_STORE_LINK %>
    </div>

    <div id="device">
      <div id="screen">
        <%= image_tag("app-screen-2.jpg") %>
      </div>
    </div>

  </div>

  <div class="inner-shadow"></div>
</section><!-- #splash -->

<section id="content">
  <div class="container">
    <div id="footer-home-right">
      <a href="/about" class="footer-home-link">About</a>
      <a href="/privacy" class="footer-home-link">Privacy</a>
      <a href="/terms" class="footer-home-link">Terms</a>
      <a href="/contact" class="footer-home-link">Contact</a>
    </div>

    <div id="footer-home-left">
      <p>Copyright © 2013 Street Shout. All Rights Reserved</p>
    </div>
  </div>
</section><!-- #content -->