<% provide(:title, 'Home') %>

<section id="splash">

  <a href="itms-services://?action=download-manifest&url=https://s3.amazonaws.com/street-shout1/manifest.plist" class="beta-link">Download Snapby for iPhone!</a>

</section><!-- #content -->