<!DOCTYPE html>
<html class="no-js" lang="en">

<head>	
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Street Shout - Here & Now</title>
	<meta name="description" content="Street Shout lets you discover and share unique, fun, and interesting events currently happening around you." />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/images/favicon.png">
	
	<!-- Prettify -->
	<link rel="stylesheet" type="text/css" href="js/prettify/sunburst.css" />

	<!-- Fancybox -->
	<link rel="stylesheet" type="text/css" href="./js/fancybox/jquery.fancybox-1.3.4.css" />

	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css" />

	<!-- Base Style -->
	<link rel="stylesheet" type="text/css" href="./css/screen.css" />
	<link rel="stylesheet" type="text/css" href="./css/media-queries.css" />
	<link rel="stylesheet" type="text/css" href="./css/custom.css" />

	<!-- Modernizr -->
	<script src="js/modernizr.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>

</head>

<body class="scheme-red">


	<section id="splash">

		<div id="product-container" class="container android-phone-portrait">
			<div id="product-info">
				<h1>street shout</h1>
				<p>here & now</p>
				<div class="container">
				<div class="button-download">
	        		<a href="#">	            		
	        			<span>Coming Soon...</span>
	        		</a>
	        	</div>
		</div>

			</div><!-- #info -->


			
			<div id="device">
				<div id="screen">
					<img src="./images/sample/app-screen-2.jpg" alt="screen" />
				</div>
			</div><!-- #device -->

			<div id="device-2nd">
				<div id="screen-2nd">
					<img src="./images/sample/app-screen-2.jpg" alt="screen" />
				</div>
			</div><!-- #device-2 -->

		</div>

		<div class="pattern"></div>
		<div class="inner-shadow"></div>
	</section><!-- #splash -->

	<section id="content">
		<div class="container">
			<div id="footer-right">
				<a href="#" class="footer-link">About</a>
				<a href="#" class="footer-link">Privacy</a>
				<a href="#" class="footer-link">Terms</a>
				<a href="#" class="footer-link">Contact</a>
			</div>

			<div id="footer-left">
				Copyright © 2013 Street Shout. All Rights Reserved
			</div>
		</div>
	</section><!-- #content -->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.10.0.min.js"><\/script>')</script>

<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.masonry.min.js"></script>
<script src="js/jquery.tweet.min.js"></script>
<script src="js/fancybox/jquery.fancybox-1.3.4.js"></script>
<script src="js/jquery.imagesloaded.min.js"></script>

<!-- Cutom Template JS -->
<script src="js/customize.js"></script>
<script src="js/template.js?v=20"></script>

</body>
</html>