<% provide(:title, 'Home') %>


<section id="splash">

   <div id="product-container">

    <section id="title_white">
    	<div class="container">
  	    <div class="logo">
  	      <%= image_tag("shout-logo-white.png") %>
  	    </div>
  	    <h1>shout</h1>
  	    <h2>here & now</h2>
  	  </div>
  	</section>  

  
    <div id="device">
      <div id="screen">
        <%= image_tag("app-screen-2.jpg") %>
      </div>
    </div>
  </div>

  <div class="inner-shadow"></div>
</section>
