<% provide(:title, 'Home') %>


<section id="splash">

  <%= render 'shared/title' %>

  <div id="product-container" class="container android-phone-portrait">
    <div id="device">
      <div id="screen">
        <%= image_tag("app-screen-2.jpg") %>
      </div>
    </div>
  </div>

  <div class="inner-shadow"></div>
</section>
