<% provide(:title, 'Shout') %>

<section id="splash">

  <div id="product-container" class="container android-phone-portrait">
    <div id="product-info">
      <h1>street shout</h1>
      <p>here & now</p>
      <div class="container">
        <div class="button-download">
              <a href="#">                  
                <span>Coming Soon</span>
              </a>
            </div>
      </div>

    </div><!-- #info -->


    
    <div id="device">
      <div id="screen">
        <img src="/assets/app-screen-2.jpg" alt="screen" />
      </div>
    </div><!-- #device -->

    <div id="device-2nd">
      <div id="screen-2nd">
        <img src="/assets/app-screen-2.jpg" alt="screen" />
      </div>
    </div><!-- #device-2 -->

  </div>

  <div class="inner-shadow"></div>
</section><!-- #splash -->

<section id="content">
  <div class="container">
    <div id="footer-right">
      <a href="/about" class="footer-link">About</a>
      <a href="/privacy" class="footer-link">Privacy</a>
      <a href="/terms" class="footer-link">Terms</a>
      <a href="/contact" class="footer-link">Contact</a>
    </div>

    <div id="footer-left">
      <p>Copyright © 2013 Street Shout. All Rights Reserved</p>
    </div>
  </div>
</section><!-- #content -->