<% provide(:title, 'Terms') %>

<section id="category">
  <div class="container">
    <h1>Street Shout Terms of Use</h1>
  <p>Last updated: November 14, 2013</p>
  <p>Please read these Terms of Use (“Terms”) carefully. By downloading, accessing or using the mobile applications, websites or other products or services (collectively, the “Services”) of Street Shout Inc. and our affiliates (“Street Shout”, “we” or “us”), you agree to be bound by these Terms. If you do not agree to these Terms, do not use the Services.</p>
  <p>We may change or modify these Terms at any time and in our sole discretion. If we make changes to these Terms, we will provide notice of such changes, such as by sending a notification, posting a notice on the Services or updating the “Last Updated” date above. Your continued use of the Services will confirm your acceptance of the revised Terms. We encourage you to frequently review the Terms to ensure you understand the terms and conditions that apply to your use of the Services. If you do not agree to the amended Terms, you must stop using the Services.</p>
  <h1>Our Audience</h1>
  <p>Street Shout is intended for use by people who are 12 years of age or older, and persons under the age of 12 are prohibited from using Street Shout. </p>
  <p>You affirm that you are either more than 18 years of age, or an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms, and to abide by and comply with these Terms.</p>
  <p>We may, in our sole discretion, refuse to offer the Services to any person or entity. We may, without notice and in our sole discretion, terminate your right to use the Services, or any portion of thereof, and block or prevent your future access to and use of the Services or any portion thereof.</p>
  <h1>Usage Data</h1>
  <p>By using the Street Shout application you agree to let Street Shout collect certain types of information about your device (device model, OS version and identifier).</p>
  <h1>User Content</h1>
  <p>The Services consist of interactive features and areas that allow users to create and post localized and ephemeral content, including but not limited to photos, text, graphics, items or other materials (collectively, “User Content”). You understand that your User Content publicly viewable by others. </p>
  <p>You agree that you are solely responsible for your User Content and that Street Shout is not responsible or liable for any User Content. While we are not obligated to do so, we reserve the right, and have absolute discretion, to review, screen and delete User Content at any time and for any reason.</p>
  <p>You retain all ownership rights in your User Content. However, by submitting User Content to Street Shout, you hereby grant us a nonexclusive, worldwide, royalty-free, sublicensable and transferable license to use, reproduce, modify, adapt, publish, create derivative works from, distribute, perform and display such User Content in connection with the Services.</p>
  <p>You agree to not post any shocking or objectionable content on Street Shout. The following are completely prohibited:</p>
    <li>Nudity or sexually suggestive content</li>
    <li>Invasions of privacy</li>
    <li>Threats</li>
    <li>Harassment or Bullying</li>
    <li>Impersonation</li>
    <li>Self-Harm</li>
  <p>Violating these rules may result in the removal of content and being prohibited from using Street Shout in the future.</p>

  <h1>Street Shout Content</h1>
  <p>Unless otherwise stated, all materials contained on or within the Services, including, but not limited to, text, graphics, images, code, illustrations, designs, icons, photographs, video clips, and written and other materials (collectively, “Street Shout Content”), as well as their selection and arrangement, are protected by copyright, trademark, trade dress, patent, and/or other intellectual property laws, and unauthorized use of Street Shout Content may violate such laws and these Terms. Except as expressly provided in these Terms, Street Shout does not grant any express or implied rights to use Street Shout Content. You agree that you will not copy, reproduce, republish, frame, download, transmit, modify, display, reverse engineer, sell, or participate in any sale of, rent, lease, loan, assign, distribute, license, sublicense, or exploit in any way, in whole or in part, Street Shout Content, the Services or any related software, except as expressly stated in these Terms.</p>
  <p>You are hereby granted a limited, nonexclusive, non-sublicensable license to access and use the Services and Street Shout Content. This license is revocable at any time. This license is subject to these Terms and does not include:</p>
      <li>The distribution, public performance or public display of Street Shout Content;</li>
      <li>Modifying or otherwise making any derivative uses of the Services or Street Shout Content, or any portion thereof;</li>
      <li>Use of any scraping, data mining, robots or similar data gathering or extraction methods;</li>
      <li>Downloading (other than page caching) any portion of the Services, Street Shout Content or any information contained therein, except as expressly permitted on the Services;</li>
      <li>Accessing the Street Shout API with an unauthorized or third-party client; and</li>
      <li>Any use of the Services or Street Shout Content other than for their intended purposes.</li>
  <p>Any use of the Services or Street Shout Content other than as specifically authorized in these Terms, without the prior written permission of Street Shout, is strictly prohibited and will terminate the license to use Street Shout granted in these Terms.</p>
  <h1>Prohibited Activities</h1>
  <p>In addition to the other restrictions outlined in these Terms, you agree that you will not:</p>
      <li>Use the Services for any purpose that is illegal, beyond the scope of their intended use, or otherwise prohibited in these Terms;</li>
      <li>Use the Services in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Services, or that could damage, disable, overburden or impair the functioning of the Services in any manner;</li>
      <li>Compromise the security of the Services;</li>
      <li>Send any unsolicited or unauthorized advertising, spam, solicitations or promotional materials;</li>
      <li>Use any robot, spider, crawler, scraper or other automated means or interface not provided by us to access the Services or to extract data;</li>
      <li>Reverse engineer any aspect of the Services or do anything that might discover source code or bypass or circumvent measures employed to prevent or limit access to any area, content or code of the Services;</li>
      <li>Attempt to circumvent any content filtering techniques we employ, or attempt to access areas/features of the Services that you are not authorized to access;</li>
      <li>Attempt to indicate in any manner that you have a relationship with us or that we have endorsed you or any products or services without our express written consent to do so;</li>
      <li>Engage in any harassing, intimidating, predatory or stalking conduct;</li>
      <li>Develop any third-party applications that interact with User Content or the Services without our prior written consent; and</li>
      <li>Use the Services for any illegal or unauthorized purpose or engage in, encourage, or promote any activity that violates these Terms.</li>
  <p>You further agree to abide by any third-party terms that apply when posting reviews of Street Shout, including the iTunes App Store Terms of Service and/or the Android Market Terms of Service. </p>
  <h1>Modifications to the Services</h1>
  <p>We reserve the right to modify or discontinue, temporarily or permanently, the Services or any features or portions thereof without prior notice. You agree that we will not be liable for any modification, suspension or discontinuance of the Services or any part thereof.</p>
  <h1>Disclaimer</h1>
  <p>THE SERVICES AND THE STREET SHOUT CONTENT ARE PROVIDED “AS IS” WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN ADDITION, WHILE STREET SHOUT ATTEMPTS TO PROVIDE A GOOD USER EXPERIENCE, WE CANNOT AND DO NOT REPRESENT OR WARRANT THAT THE SERVICES WILL ALWAYS BE SECURE OR ERROR-FREE OR THAT THE SERVICES WILL ALWAYS FUNCTION WITHOUT DELAYS, DISRUPTIONS OR IMPERFECTIONS.</p>
  <h1>Note to International Users</h1>
  <p>The Services are hosted in the United States. If you are a user accessing the Services from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use, and disclosure, that differ from United States laws, please be advised that through your continued use of the Services, which are governed by U.S. law, you are transferring your personal information to the United States and you consent to that transfer.</p>
  <h1>Disputes</h1>
  <p>1) Indemnification</p>
  <p>By agreeing to these Terms you agree to indemnify, defend and hold harmless Street Shout, our managing members, shareholders, employees, affiliates, licensors and suppliers (the “Street Shout Parties”) from and against any and all complaints, charges, claims, damages, losses, costs, liabilities, and expenses (including attorneys’ fees) due to, arising out of, or relating in any way to (a) your use of the Services; (b) any User Content you post, upload, use, distribute, store or otherwise transmit through the Services; (c) your violation of these Terms; or (d) your violation of the rights of another.</p>
  <p>2) Limitation of Liability</p>
  <p>Except where prohibited by law, in no event will Street Shout or the Street Shout Parties be liable for any indirect, special, punitive, incidental, exemplary or consequential damages that result from (a) the use of, or inability to use, the Services; (b) the provision of the Services or any materials available therein; or (c) the conduct of other users of the Services, even if Street Shout has been advised of the possibility of such damages. You assume total responsibility for your use of the Services. Your only remedy against Street Shout for dissatisfaction with the Services or any content is to stop using the Services. If, notwithstanding these Terms, Street Shout is found liable to you for any damage or loss which arises out of or is in any way connected with your use of the Services or any content, Street Shout's liability shall in no event exceed $1.00. Some jurisdictions do not allow limitations of liability, so the foregoing limitation may not apply to you.</p>
  <h1>Applicable Law</h1>
  <p>Any dispute between you and Street Shout will be governed by these Terms and the laws of the State of California and applicable United States law, without giving effect to any conflict of laws principles that may provide for the application of the law of another jurisdiction.</p>
  <h1>Severability</h1>
  <p>If any provision of these Terms shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions.</p>
  <h1>Complete Agreement</h1>
  <p>These Terms supersede all prior understandings regarding the same and represent the complete agreement between you and Street Shout.</p>
  <h1>Questions and Comments</h1>
  <p>Street Shout welcomes comments, questions, concerns, or suggestions. Please contact us at info@street-shout.com.</p>

  </div>
</section>