
/* Constant
-------------------------------------*/
$shout_blue : #7A9ED3;



/* # GENERAL
-------------------------------------*/
@font-face {
  font-family: 'Ubuntu-Title-webfont';
  src:asset-url('Ubuntu-Title-webfont.eot');
  src:asset-url('Ubuntu-Title-webfont.eot') format('embedded-opentype'),
    asset-url('Ubuntu-Title-webfont.svg') format('svg'),
    asset-url('Ubuntu-Title-webfont.woff') format('woff'),
    asset-url('Ubuntu-Title-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

body {
  height: 100%;
  color: #a5a5a5;
  background-color: #fff;
  font: normal 100% 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-smooth: always; }

header, footer, article, section, nav, menu, hgroup {
  display: block; }

a {
  text-decoration: none;
  color: #e54b00;
  outline: none; }

.container {
  width: 1000px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  position: relative; }

.spacer-fix, .spacer-variable {
  clear: both;
  height: 85px;}

/* CLEAR */
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }


/* # SPLASH
-------------------------------------*/
#splash {
  background-image: image_url('bg.jpg');
  height: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 120px 0 0 0;
  overflow: hidden;
  color: #FFF; }
  // #splash .pattern {
  //   background-image: image_url('mosaic.png');
  //   background-repeat: repeat;
  //   background-position: top left;
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 10; }
  #splash .inner-shadow {
    background: image_url('inner-shadow.png') 0 -45px repeat-x;
    position: absolute;
    z-index: 30;
    bottom: 0;
    width: 100%;
    height: 60px; }



/* Name
-------------------------------------*/
#product-container {
  position: relative;
  z-index: 20;}
  #product-container #device {
    background: url(image_path("android-phone-portrait@2x.png")) no-repeat center top;
    width: 380px;
    position: relative;
    padding: 85px 0 0 0;
    margin-left: 50px;
    background-size: 100% !important; }
    #product-container #device #screen {
      width: 338px;
      height: 450px;
      margin: 0 auto; }
      #product-container #device #screen img {
        margin-top :-20px;
        width: 100%; }
  


/* Title
-------------------------------------*/
#title_blue {
  font-family: 'Ubuntu-Title-webfont';
  padding-top: 30px;
  position: relative;}
  #title_blue .container {
    overflow: hidden;}
    #title_blue .container h1 {
      font-size: 100px;
      margin: -15px 0 -15px 0;
      line-height: 1.25em; 
      text-align: center;
      color: $shout_blue;}
    #title_blue .container h2 {
      font-size: 24px;
      text-align: center;
      color: $shout_blue; }
    #title_blue .container .logo img{
      display: block;
      max-width: 70px;
      height: auto;
      margin: auto;
    }

#title_white {
  position: relative;
  right: 50%;}
  #title_white .container {
    padding-top: 30px;
    color: #FFFFFF;
    font-family: 'Ubuntu-Title-webfont';
    overflow: hidden;}
    #title_white .container h1 {
      font-size: 120px;
      margin: -15px 0 -15px 0;
      line-height: 1.25em; 
      text-align: center;}
    #title_white .container h2 {
      font-size: 50px;
      text-align: center;}
    #title_white .container .logo img{
      display: block;
      max-width: 120px;
      height: auto;
      margin: auto;
    }


/* Footer
-------------------------------------*/
.footer {
  background: #FFF;
  color: #808080 ;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 60px;
  z-index: 1000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1.5px solid $shout_blue ;
  border-bottom-style:none;
  }
  .footer a, .footer p {
    display: table-cell;
    padding-right: 5px;
    vertical-align: middle;
  }
  .footer img {
    padding-top: 5px;
  }
  .footer .container {
    padding: 0;
    width: 100%;
    height:100%}
    .footer .container #footer-left {
      display: table;
      height:100%;
      margin-left: 30px;
      float:left;
      text-align: left}
    .footer .container #footer-left p {
      padding-right: 30px;
    }
    .footer .container #footer-right {
      height:100%;
      padding-right: 15px;
      display: table;
      float: right;
      text-align: right}
      .footer .container #footer-right .footer-link {
        height:100%;
        padding-right: 30px;
        color: $shout_blue ;
        font-weight: 600;}
    .footer .container #footer-phone-left {
      float: left;
      width: 49.5%;
      height: 100%;
      display: table;
      text-align: right;
      display: none;}
    .footer .container #footer-phone-right {
      float: right;
      width: 49.5%;
      height: 100%;
      display: table;
      text-align: left;
      display: none;}




/* STANDARD-TEXT
-------------------------------------*/

#standard-text {
  position: relative;}
  #standard-text .container {
    position: relative;
    -ms-overflow-style: none;
    overflow: hidden;
    max-width: 600px; 
    padding: 10px;
    color: #000; 
    border-top: 2px solid $shout_blue;}
    #standard-text .container h1 {
      font-weight: 800;
      font-size: 24px; 
      margin-bottom: 20px; 
      margin-top: 15px;
      line-height:200%;
      color: $shout_blue;}
    #standard-text .container h2 {
      font-weight: 800;
      font-size: 18px; 
      margin-bottom: 10px; 
      margin-top: 20px;
      line-height:150%;
      color: $shout_blue; }
    #standard-text .container h3 {
      font-weight:bold; 
      margin-top: 10px;
      margin-bottom: 5px; }
    #standard-text .container p {
      font-weight: 400; 
      margin-bottom: 5px; }
    #standard-text .container ul li {
      margin-left: 20px;
      font-weight: 400; 
      margin-bottom: 5px; }


/* Display_shout
-------------------------------------*/
#display_shout {
    width: 90%;
    position: relative;
    top: 5%;
    left:5%;
    height: auto;
    padding-bottom: 30px;}
#display_shout img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto\9; /*ie8  */}
#display_shout h2{
  position: absolute;
  top: 5%%;
  text-align: center;
  width: 70%;
  margin-left: 15%;}
#display_shout h2 span { 
  border-radius: 10px;
  color: white; 
  font-size: 40px;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 1.5;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.3);
  padding: 2px; 
}


/* MESSAGE
-------------------------------------*/

#message {
  padding-top: 20px;
  position: relative;}
  #message .container {
    position: relative;
    overflow: hidden;
    max-width: 600px; 
    padding: 10px;
    color: #000; }
    #message .container p {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 5px; }

