/*  #MOBILE (Portrait)
================================================== */
@media only screen and (max-width: 767px) {
  .container {
    width: 280px; }
  #standard-text { 
    margin-top: 30px;}

  /* SPLASH */
  #splash {
    background-attachment: scroll; }
    #splash .pattern {
      background-attachment: scroll; }

  /* PRODUCT CONTAINER */
  #product-container #product-info {
    width: 100% !important;
    text-align: center;
    position: relative;
    margin-bottom: 100px; }
    #product-container #product-info .button {
      margin-right: 0; }
    #product-container #product-info {
      bottom: auto;
      margin-bottom: 50px;
      padding: 0 0 40px 0; }
    #product-container #product-info h1 {
      font-size: 55px;
      line-height: 1.5em; }
  #product-container #device,
  #product-container #device-2nd {
    display: none !important; }


  /* FOOTER */
  #footer-right, #footer-left {
    display: none !important;}
  #footer-phone-right, #footer-phone-left{
    display: inline !important;
  }




/*  #TABLET (Portrait)
================================================== */
@media screen and (min-width: 768px) and (max-width: 1140px) {
  .container {
    width: 740px; }

  /* PRODUCT CONTAINER */
  #product-container #device {
    margin: 0 auto !important;
    bottom: 0 !important; }
  #product-container #product-info {
    width: 100% !important;
    text-align: center;
    position: relative;
    bottom: auto;
    margin-bottom: 50px;
    padding: 0 0 40px 0; }

  /* FOOTER */
  #footer-right, #footer-left {
    display: none !important;}
  #footer-phone-right, #footer-phone-left{
    display: inline !important;
          display: table;
      text-align: center;
  }
}



