/*  #MOBILE (Portrait)
================================================== */
@media only screen and (max-width: 767px) {
  .container {
    width: 290px; }
  #category { 
    padding-top: 20px;}

  /* SPLASH */
  #splash {
    background-attachment: scroll; }
    #splash .pattern {
      background-attachment: scroll; }

  /* PRODUCT CONTAINER */
  #product-container #product-info {
    width: 100% !important;
    text-align: center;
    position: relative;
    margin-bottom: 100px; }
    #product-container #product-info .button {
      margin-right: 0; }
    #product-container #product-info {
      bottom: auto;
      margin-bottom: 50px;
      padding: 0 0 40px 0; }
    #product-container #product-info h1 {
      font-size: 55px;
      line-height: 1.5em; }
  #product-container #device,
  #product-container #device-2nd {
    display: none !important; }

  /* HEADER */
  header #header-left {
    text-align: center;
    float: none; }
  header #header-right {
    float: none; }
    header #header-right ul {
      text-align: center; }
      header #header-right ul li {
        float: none;
        display: inline-block;
        margin: 0 5px; }
  header .menu {
    display: none; }
  header .tinynav-wrap {
    display: block; }

  body.dark header .tinynav-wrap {
    background: #555;
    border: none;
    color: #000; }
    body.dark header .tinynav-wrap select {
      color: #000; }

  /* FOOTER */
  .footer {
    height: 80;
  }
  #footer-right {
    display: none !important;}
  #footer-left {
    display: none !important;}


  /* ELEMENTS */
  .frame {
    border: none;
    padding: 0; }

  .slide-control {
    display: none; }

  .gallery-list li {
    width: 290px;
    opacity: 1; }

  #twitter-box,
  #twitter-box .tweet_list li {
    height: 10em; }

  .contact-info-pane {
    position: relative;
    padding: 20px; } 
}


/*  #TABLET (Portrait)
================================================== */
@media screen and (min-width: 768px) and (max-width: 1140px) {
  .container {
    width: 740px; }

  /* PRODUCT CONTAINER */
  #product-container #device {
    margin: 0 auto !important;
    bottom: 0 !important; }
  #product-container #product-info {
    width: 100% !important;
    text-align: center;
    position: relative;
    bottom: auto;
    margin-bottom: 50px;
    padding: 0 0 40px 0; }
  #product-container.ipad-portrait #device-2nd, #product-container.android-tablet-portrait #device-2nd {
    left: 55px; }
  #product-container.ipad-landscape #device-2nd, #product-container.android-tablet-landscape #device-2nd {
    right: 0; }

  /* ELEMENTS */
  .gallery-list li {
    width: 365px;
    opacity: 1; } 

  /* FOOTER */
  #footer-phone{
    float: left; }
  #footer-left {
    display: none !important;}
}




/* # VISIBLE & HIDDEN
-------------------------------------*/
.visible-phone,
.visible-tablet,
.hidden-desktop {
  display: none !important; }

@media only screen and (max-width: 767px) {
  .visible-phone,
  .hidden-desktop,
  .hidden-tablet {
    display: inherit !important; }

  .visible-desktop,
  .visible-tablet,
  .hidden-phone {
    display: none !important; } }
@media screen and (min-width: 768px) and (max-width: 1140px) {
  .visible-tablet,
  .hidden-desktop,
  .hidden-phone {
    display: inherit !important; }

  .visible-desktop,
  .visible-phone,
  .hidden-tablet {
    display: none !important; } }
