<p>Hello <%= @resource.username %>!</p>

<p>Forgot your password? Eh, your old one was getting dusty anyways.</p>

<p><%= link_to 'Click here to create a new one', edit_user_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you don't want to reset your password, you can ignore this message - someone probably typed in your email address by mistake.</p>

<p>If you have any question, please contact us at <%=CONTACT_EMAIL%>.</p>

<p>Have an awesome day,</p>

<h2>The Snapby team</h2>
