<footer class="footer">
  <div class="container">
    <div id="footer-right">
      <a href="/about" class="footer-link">About</a>
      <a href="/privacy" class="footer-link">Privacy</a>
      <a href="/terms" class="footer-link">Terms</a>
      <a href="/contact" class="footer-link">Contact</a>
    </div>

    <div id="footer-left">
      <p>Copyright © 2013 Street Shout. All Rights Reserved</p>
    </div>
  </div>
</footer>
