<footer class="footer">
  <div class="container">
    <div id="footer-right">
      <% if yield(:title) != "Home" %>
        <a href="/" class="footer-link">Home</a>
      <% end %>
      <a href="/about" class="footer-link">About</a>
      <a href="/privacy" class="footer-link">Privacy</a>
      <a href="/terms" class="footer-link">Terms</a>
      <a href="/contact" class="footer-link">Contact</a>
    </div>

    <div id="footer-left">
      <p>© 2013 <%=SHOUT_COMPANY_NAME%></p>
    </div>

    <div id="footer-mid">
      <%= link_to image_tag("badge_android_store.png", alt: "Android"), ANDROID_STORE_LINK %>
      <%= link_to image_tag("badge_android_store.png", alt: "Android"), APPLE_STORE_LINK %>
    </div>
  </div>
</footer>
